<div class="our-partners py-3">
  <div class="container my-3">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-head style-1 text-center my-3">
              <h2 class="color1 font-weight-600 text-uppercase">Our Partners</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="marquee-outer">
  <!-- Right to Left -->
  <div class="marquee marquee-rtl">
    <div class="marquee-content">
      <div class="clint-box"><img src="assets/img/company1.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company2.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company3.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company4.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company5.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company6.jpg" alt="" class="img-fluid"></div>
      <!-- DUPLICATE -->
      <div class="clint-box"><img src="assets/img/company1.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company2.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company3.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company4.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company5.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company6.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>

  <!-- Left to Right -->
  <div class="marquee marquee-ltr">
    <div class="marquee-content">
      <div class="clint-box"><img src="assets/img/company7.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company8.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company9.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company10.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company11.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company12.jpg" alt="" class="img-fluid"></div>
      <!-- DUPLICATE -->
      <div class="clint-box"><img src="assets/img/company7.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company8.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company9.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company10.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company11.jpg" alt="" class="img-fluid"></div>
      <div class="clint-box"><img src="assets/img/company12.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="bg-img-fix campus-overview">
  <div class="choses-info text-white">
    <div class="container-fluid">
      <div class="row choses-info-content">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 p-4">
          <h2 class="font-weight-400 fs-1"><i class="fa fa-trophy"></i><span class="counter">20</span>+</h2>
          <h4 class="font-weight-300 mt-3 fs-5">Years of Legacy</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 p-4">
          <h2 class="font-weight-400 fs-1"><i class="fa fa-user-tie"></i><span class="counter">15000</span>+</h2>
          <h4 class="font-weight-300 mt-3 fs-5">Global Alumni Base</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 p-4">
          <h2 class="font-weight-400 fs-1"><i class="fa fa-user-group"></i><span class="counter">100</span>+</h2>
          <h4 class="font-weight-300 mt-3 fs-5">Recruiters</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 p-4">
          <h2 class="font-weight-400 fs-1"><i class="fa fa-dashboard"></i><span class="counter">100</span>%
          </h2>
          <h4 class="font-weight-300 mt-3 fs-5">Placement Assistance</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-4 py-4">
  <h2 class="text-center mb-3 font-weight-600 text-uppercase"><span class="color1">EPC</span> Social Media
    <i class="fa fa-arrow-right color1"></i>
  </h2>
  <div class="text-center my-2">
    <ul class="list-inline p-0 mb-2">
      <li><a href="https://www.facebook.com/epcengineersnoida/" class="facebook" target="_blank"><i
            class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://www.instagram.com/epcengineers/" class="instagram" target="_blank"><i
            class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/epc-engineers-643a67338/" class="linkedin" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
      </li>
      <li><a href="https://www.youtube.com/@EPCEngineers" class="youtube" target="_blank"><i
            class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of testimonials; let i = index">
      <div class="card shadow-sm review-card">
        <div class="card-body p-0">
          <div class="d-flex justify-content-between align-items-start m-3">
            <div class="d-flex align-items-center col">
              <img [src]="'../assets/img/' + item.src" class="profile-img me-3">
              <h6 class="mb-0 fw-semibold">{{ item.name}}</h6>
            </div>
            <i class="fas fa-quote-left quote-icon"></i>
          </div>
          <div class="m-3">
            <p class="text-muted my-0 line-clamp-4">
              {{item.message}}
            </p>
          </div>
          <div class="d-flex justify-content-between align-items-center border-top">
            <div class="d-flex align-items-center  p-3">
              <div class="star-rating me-2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <span class="text-muted">4 Star Rating</span>
            </div>
            <div class="text-end p-3">
              <svg class="google-logo" viewBox="0 0 24 24">
                <path fill="#4285f4"
                  d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" />
                <path fill="#34a853"
                  d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" />
                <path fill="#fbbc05"
                  d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" />
                <path fill="#ea4335"
                  d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>