<app-navbar></app-navbar>

<ng-container *ngIf="showBanner && bannerImage">
  <div class="container-fluid px-0 relative home-overlay" [style.backgroundImage]="'url(' + bannerImage + ')'">
    <div class="container content">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h1 class="text-white">{{ pageTitle }}</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="d-flex justify-content-md-end justify-content-sm-start">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/" class="text-white">Home</a></li>
              <li class="breadcrumb-item text-white">{{ breadcrumb }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>
<app-footer></app-footer>
