<div class="bg-stripped">
<div class="container p-0 description">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex">
            <figure class="figure-shape">
                <img src="assets/img/about-us.jpg" class="img-fluid" alt="Person">
            </figure>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h2 class="fs-3">Welcome to EPC Energy</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularized in the 1960s with the release of Learjet sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Lauds PageMaker including versions of Lorem Ipsum.</p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClinton, a Latin professor at Hampden-Sydney College in Virginia,</p>
        </div>
    </div>
</div>
</div>
<div class="bg-stripped">
<div class="container p-0 description">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h2 class="fs-3">Our Team</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularized in the 1960s with the release of Learjet sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Lauds PageMaker including versions of Lorem Ipsum.</p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClinton, a Latin professor at Hampden-Sydney College in Virginia,</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 d-flex">
  <figure class="figure-shape">
    <img src="assets/img/our-team.jpg" alt="Person">
  </figure>
</div>
    </div>
</div>
</div>


