
<app-banner></app-banner>

<div class="about-us">
    <div class="container my-5">
        <div class="row">
        <div class="col-md-12">
            <h1 class="color1 font-weight-600 text-uppercase text-center">Welcome to EPC Engineers Pvt Ltd !!</h1>
            <p>EPC engineers are professionals who work in the field of engineering,particularly
                in the sectors of Engineering, Procurement and Construction(EPC) company. EPC
                engineers Pvt Ltd are comprehensive services for large-scale projects in various
                industries such as oil and gas, power generation, infrastructure and
                petrochemicals. These organizations typically offer end-to-end solutions,
                starting from conceptualization and design through procurement, construction,
                and commissioning.</p>
            <p>Training for EPC (Engineering, Procurement, and Construction) engineers typically
                covers a wide range of technical, managerial, and practical skills required to
                successfully execute engineering projects. Here's an overview of the types of
                training EPC engineers might undergo:</p>
        </div>
         <div class="col-md-12 mt-5 mb-3">
              <h2 class="font-weight-600 text-center text-uppercase"><span class="color1">Academic</span> Programs</h2>
         </div>
          <div class="col-md-12 my-3">
            <ul class="programs-list">
                <li>EPC<br>Training
                    <a href="#" class="add"><i class="fa fa-plus"></i></a>
                </li>
                <li>IT<br>Training
                    <a href="#" class="add"><i class="fa fa-plus"></i></a>
                </li>
                <li>NON<br>Training
                    <a href="#" class="add"><i class="fa fa-plus"></i></a>
                </li>
                <li>Corporate<br>Training
                    <a href="#" class="add"><i class="fa fa-plus"></i></a>
                </li>
            </ul>
          </div>
    </div>
</div>

<app-our-courses></app-our-courses>
<app-testimonial></app-testimonial>